@model School.Educ.adk.Areas.Professeur.Models.Lecon

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Lecon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentifiantProfesseur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentifiantProfesseur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentifiantCours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentifiantCours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeconDonnee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeconDonnee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateLecon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateLecon)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
