@model IEnumerable<School.Educ.adk.Areas.Ecole.Models.Inscription>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-area="Ecole" asp-controller="Inscriptions" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateInscription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnneeScolaire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eleve)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Classe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateInscription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnneeScolaire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Eleve.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classe.ID)
            </td>
            <td>
                <a asp-area="Ecole" asp-controller="Inscriptions" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-area="Ecole" asp-controller="Inscriptions" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-area="Ecole" asp-controller="Inscriptions" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
