@model School.Educ.adk.Areas.Ecole.Models.Cotation

@{
    List<Inscription> inscriptions = ViewBag.Inscriptions;
}

<h1>Les points</h1>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a asp-action="Details" asp-controller="Epreuves" asp-route-id="@ViewBag.IdEpreuve" class="btn btn-outline-secondary btn-xs"><i class="fa fa-reply"></i> retour</a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                @if (inscriptions != null)
                {
                    <form asp-action="Save_epreuve" method="post">
                        <input type="hidden" name="idEpreuve" value="@ViewBag.IdEpreuve" />

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <span class="section">Saisir les points de l'épreuve - @ViewBag.Description -</span>

                        <table id="datatable-buttons" class="table table-striped table-bordered" style="width:100%">
                            <tbody>
                                @foreach (var item in inscriptions)
                                {
                                    <tr>
                                        <td> @Html.DisplayFor(modelItem => item.Eleve.NomComplet) </td>
                                        <td> @Html.DisplayFor(modelItem => item.Eleve.Matricule)</td>
                                        <td>
                                            <input type="hidden" name="EleveID" value="@item.EleveId" />
                                            <input name="Point" value="0" required />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <div class="ln_solid">
                            <br />
                            <div class="form-group text-center">
                                <div class="col-md-6 offset-md-3">
                                    <button type='submit' class="btn btn-primary">Enregistrer</button>
                                </div>
                            </div>
                        </div>
                    </form>
                }
                else
                {
                    <h5>Aucun élève n'existe dans cette classe</h5>
                }
            </div>
        </div>
    </div>
</div>