@model School.Educ.adk.Areas.Ecole.Models.Ecole

@{
    ViewData["Title"] = "Info";
}

<h1>Votre école</h1>

<div>
    <hr />
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="x_panel">
                <div class="x_title">
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <dl class="row">
                        <dt class="text-center col-form-label col-md-12 col-md-12 label-align">
                            <div style="border: 0;" class="site_title">
                                <i class="fa fa-institution bg-orange"></i>
                            </div>
                        </dt>
                        <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                            @Html.DisplayNameFor(model => model.Nom)
                        </dt>
                        <dd class="col-form-label col-md-6 col-sm-12 text-left label-align">
                            @Html.DisplayFor(model => model.Nom)
                        </dd>
                        <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                            @Html.DisplayNameFor(model => model.EcoleLatitude)
                        </dt>
                        <dd class="col-form-label col-md-6 col-sm-12 text-left label-align">
                            @Html.DisplayFor(model => model.EcoleLatitude)
                        </dd>
                        <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                            @Html.DisplayNameFor(model => model.EcoleLongitude)
                        </dt>
                        <dd class="col-form-label col-md-6 col-sm-12 text-left label-align">
                            @Html.DisplayFor(model => model.EcoleLongitude)
                        </dd>
                        <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                            @Html.DisplayNameFor(model => model.SousDivision)
                        </dt>
                        <dd class="col-form-label col-md-6 col-sm-12 text-left label-align">
                            @Html.DisplayFor(model => model.SousDivision)
                        </dd>
                        <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                            @Html.DisplayNameFor(model => model.DateCreate)
                        </dt>
                        <dd class="col-form-label col-md-6 col-sm-12 text-left label-align">
                            @Html.DisplayFor(model => model.DateCreate)
                        </dd>
                        <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                            @Html.DisplayNameFor(model => model.Classes)
                        </dt>
                        <dd class="col-form-label col-md-6 col-sm-12 text-left label-align">
                            @Html.DisplayFor(model => model.Classes.Count)
                        </dd>
                        <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                            @Html.DisplayNameFor(model => model.Eleves)
                        </dt>
                        <dd class="col-form-label col-md-6 col-sm-12 text-left label-align">
                            @Html.DisplayFor(model => model.Eleves.Count)
                        </dd>
                        <dt class="col-form-label col-md-6 col-sm-6  label-align">
                            @Html.DisplayNameFor(model => model.Professeurs)
                        </dt>
                        <dd class="col-form-label col-md-6 col-sm-12 text-left label-align">
                            @Html.DisplayFor(model => model.Professeurs.Count)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>