@model IEnumerable<School.Educ.adk.Areas.Ecole.Models.Ecole>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-area="Ecole" asp-controller="Ecoles" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EcoleLatitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EcoleLongitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SousDivision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Directeur)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EcoleLatitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EcoleLongitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SousDivision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Directeur.NomComplet)
            </td>
            <td>
                <a asp-area="Ecole" asp-controller="Ecoles" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-area="Ecole" asp-controller="Ecoles" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-area="Ecole" asp-controller="Ecoles" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
