@model School.Educ.adk.Areas.Ecole.Models.SousDivision

@{
    ViewData["Title"] = "Details";
}

<h1>Information sur la sous-division</h1>

<div>
    <hr />
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="x_panel">
                <div class="x_title">
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-outline-info btn-xs"><i class="fa fa-pencil"></i> modifier</a>
                        </li>
                        <li>
                            <a asp-action="Index" class="btn btn-outline-secondary btn-xs"><i class="fa fa-reply"></i> retour</a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <h4>Informations</h4>
                    <dl class="row">
                        <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                            @Html.DisplayNameFor(model => model.Nom)
                        </dt>
                        <dd class="col-form-label col-md-1 col-sm-12 text-left label-align">
                            @Html.DisplayFor(model => model.Nom)
                        </dd>
                        <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                            @Html.DisplayNameFor(model => model.LocalDescript)
                        </dt>
                        <dd class="col-form-label col-md-1 col-sm-12 text-left label-align">
                            @Html.DisplayFor(model => model.LocalDescript)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>