@model IEnumerable<School.Educ.adk.Areas.Ecole.Models.SousDivision>

@{
    ViewData["Title"] = "Index";
}

<h1>Les sous-division</h1>

<!-- Datatables -->

<link href="~/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="~/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="~/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="~/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="~/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a asp-action="Create" class="btn btn-outline-success btn-xs"><i class="fa fa-plus"></i>  nouveau</a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box table-responsive">
                            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                            <p class="text-muted font-13 m-b-30">

                            </p>
                            <table id="datatable-buttons" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.Nom)</th>
                                        <th>@Html.DisplayNameFor(model => model.LocalDescript)</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>


                                <tbody>
                                    @if (Model.Count() == 0)
                                    {
                                        <tr>
                                            <td colspan="7">Aucune sous-division n'est enregistrée!</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Nom)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.LocalDescript)
                                                </td>
                                                <td style="text-align:center">
                                                    <a asp-area="Admin" asp-controller="SousDivisions" asp-action="Edit" asp-route-id="@item.ID" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> </a>
                                                    <a asp-area="Admin" asp-controller="SousDivisions" asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
