@model School.Educ.adk.Areas.Ecole.Models.Professeur

@{
    ViewData["Title"] = "Info";
}

<h1>Informations sur le professeur</h1>

<div>
    <hr />
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="x_panel">
                <div class="x_title">
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a asp-action="Index" class="btn btn-outline-secondary btn-xs"><i class="fa fa-reply"></i> retour</a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <dl class="row">
                        <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                            @Html.DisplayNameFor(model => model.Ecole)
                        </dt>
                        <dd class="col-form-label col-md-6 col-sm-6 text-left label-align">
                            @Html.DisplayFor(model => model.Ecole.Nom)
                        </dd>
                        <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                            @Html.DisplayNameFor(model => model.Nom)
                        </dt>
                        <dd class="col-form-label col-md-1 col-sm-6 text-left label-align">
                            @Html.DisplayFor(model => model.Nom)
                        </dd>
                        <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                            @Html.DisplayNameFor(model => model.Postnom)
                        </dt>
                        <dd class="col-form-label col-md-1 col-sm-6 text-left label-align">
                            @Html.DisplayFor(model => model.Postnom)
                        </dd>
                        <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                            @Html.DisplayNameFor(model => model.Prenom)
                        </dt>
                        <dd class="col-form-label col-md-1 col-sm-6 text-left label-align">
                            @Html.DisplayFor(model => model.Prenom)
                        </dd>
                        <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                            @Html.DisplayNameFor(model => model.Genre)
                        </dt>
                        <dd class="col-form-label col-md-1 col-sm-6 text-left label-align">
                            @Html.DisplayFor(model => model.Genre)
                        </dd>
                        <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                            @Html.DisplayNameFor(model => model.Matricule)
                        </dt>
                        <dd class="col-form-label col-md-1 col-sm-6 text-left label-align">
                            @Html.DisplayFor(model => model.Matricule)
                        </dd>
                        <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd class="col-form-label col-md-1 col-sm-6 text-left label-align">
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                        <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                            @Html.DisplayNameFor(model => model.Password)
                        </dt>
                        <dd class="col-form-label col-md-1 col-sm-6 text-left label-align">
                            @Html.DisplayFor(model => model.Password)
                        </dd>
                        <dt class="col-form-label col-md-6 col-sm-6  label-align">
                            @Html.DisplayNameFor(model => model.DateNaissance)
                        </dt>
                        <dd class="col-form-label col-md-1 col-sm-6 text-left label-align">
                            @Html.DisplayFor(model => model.DateNaissance)
                        </dd>
                    </dl>

                    <div class="text-center">
                        <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@Model.ID">Modification</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Datatables -->

<link href="~/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="~/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="~/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="~/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="~/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

<h2>Les cours</h2>
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box table-responsive">
                            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                            <p class="text-muted font-13 m-b-30">

                            </p>
                            <table id="datatable-buttons" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Intituler</th>
                                        <th>Categorie</th>
                                        <th>Classe</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Cours.Count == 0)
                                    {
                                        <tr>
                                            <td colspan="3">Aucun cours enregistré!</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        @foreach (var item in Model.Cours)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Intituler)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Categorie)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Classe.NomComplet)
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
