@model School.Educ.adk.Areas.ProfeArea.Models.Cotation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cotation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Point)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Point)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Epreuve)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Epreuve.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eleve)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eleve.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
