@model IEnumerable<School.Educ.adk.Areas.Professeur.Models.Echange>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Inspecteur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cotation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lecon)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Inspecteur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cotation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lecon.ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
