@model School.Educ.adk.Areas.Admin.Models.Inspecteur

@{
    ViewData["Title"] = "Info";
}

<h1>Votre profile</h1>

<div>
    <hr />
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="x_panel">
                <div class="x_title">
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@Model.ID"><i class="fa fa-edit"></i> Modifier</a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <dl class="row">
                        <dt class="text-center col-form-label col-md-12 col-md-12 label-align">
                            <div style="border: 0;" class="site_title">
                                <i class="fa fa-user blue"></i>
                            </div>
                        </dt>
                        <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                            @Html.DisplayNameFor(model => model.Nom)
                        </dt>
                        <dd class="col-form-label col-md-1 col-sm-6 text-left label-align">
                            @Html.DisplayFor(model => model.Nom)
                        </dd>
                        <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                            @Html.DisplayNameFor(model => model.Postnom)
                        </dt>
                        <dd class="col-form-label col-md-1 col-sm-6 text-left label-align">
                            @Html.DisplayFor(model => model.Postnom)
                        </dd>
                        <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                            @Html.DisplayNameFor(model => model.Prenom)
                        </dt>
                        <dd class="col-form-label col-md-1 col-sm-6 text-left label-align">
                            @Html.DisplayFor(model => model.Prenom)
                        </dd>
                        <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                            @Html.DisplayNameFor(model => model.Genre)
                        </dt>
                        <dd class="col-form-label col-md-1 col-sm-6 text-left label-align">
                            @Html.DisplayFor(model => model.Genre)
                        </dd>
                        <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                            @Html.DisplayNameFor(model => model.Matricule)
                        </dt>
                        <dd class="col-form-label col-md-1 col-sm-6 text-left label-align">
                            @Html.DisplayFor(model => model.Matricule)
                        </dd>
                        <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd class="col-form-label col-md-1 col-sm-6 text-left label-align">
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                        <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                            @Html.DisplayNameFor(model => model.Password)
                        </dt>
                        <dd class="col-form-label col-md-1 col-sm-6 text-left label-align">
                            @Html.DisplayFor(model => model.Password)
                        </dd>
                        <dt class="col-form-label col-md-6 col-sm-6  label-align">
                            @Html.DisplayNameFor(model => model.DateNaissance)
                        </dt>
                        <dd class="col-form-label col-md-1 col-sm-6 text-left label-align">
                            @Html.DisplayFor(model => model.DateNaissance)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>