@model School.Educ.adk.Areas.Ecole.Models.Cours

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cours</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Intituler)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Intituler)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categorie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categorie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Classe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Classe.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-area="Ecole" asp-controller="Cours" asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-area="Ecole" asp-controller="Cours" asp-action="Index">Back to List</a>
</div>
