@model School.Educ.adk.Areas.Ecole.Models.Lecon

@{
    ViewData["Title"] = "Details";
}
<h1>Information de la leçon</h1>
<div>
    <hr />
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="x_panel">
                <div class="x_title">
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a asp-action="Index" class="btn btn-outline-secondary btn-xs"><i class="fa fa-reply"></i> retour</a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <h4>Informations</h4>
                    <dl class="row">
                        <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                            @Html.DisplayNameFor(model => model.Cours)
                        </dt>
                        <dd class="col-form-label col-md-6 col-sm-12 text-left label-align">
                            @Html.DisplayFor(model => model.Cours.Intituler)
                        </dd>
                        <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                            @Html.DisplayNameFor(model => model.DateLecon)
                        </dt>
                        <dd class="col-form-label col-md-6 col-sm-12 text-left label-align">
                            @Html.DisplayFor(model => model.DateLecon)
                        </dd>
                        @if (Model.Evaluer == null)
                        {
                            <dt class="col-form-label col-md-12 col-sm-12 text-right text-center">
                                <p>Cette leçon n'a pas encore été coté</p>
                            </dt>
                        }
                        else
                        {
                            <dt class="col-form-label col-md-7 col-sm-7 text-right label-align">
                                @Html.DisplayNameFor(model => model.Evaluer.Inpecteur)
                            </dt>
                            <dd class="col-form-label col-md-7 col-sm-12 text-left label-align">
                                @Html.DisplayFor(model => model.Evaluer.Inpecteur.NomComplet)
                            </dd>
                            <dt class="col-form-label col-md-7 col-sm-7 text-right label-align">
                                @Html.DisplayNameFor(model => model.Evaluer.Remarque)
                            </dt>
                            <dd class="col-form-label col-md-7 col-sm-12 text-left label-align">
                                @Html.DisplayFor(model => model.Evaluer.Remarque)
                            </dd>
                            <dt class="col-form-label col-md-7 col-sm-7 text-right label-align">
                                @Html.DisplayNameFor(model => model.Evaluer.Cotation)
                            </dt>
                            <dd class="col-form-label col-md-7 col-sm-12 text-left label-align">
                                @Html.DisplayFor(model => model.Evaluer.Cotation)
                            </dd>
                        }
                        <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                            @Html.DisplayNameFor(model => model.LeconDonnee)
                        </dt>
                        <dd class="col-form-label col-md-6 col-sm-12 text-left label-align">
                            @Html.DisplayFor(model => model.LeconDonnee)
                        </dd>
                    </dl>
                    <div class="text-center">
                        <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@Model.ID">Modification</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>