@model IEnumerable<School.Educ.adk.Areas.Ecole.Models.Lecon>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LeconDonnee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateLecon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Professeur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cours)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LeconDonnee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateLecon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Professeur.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cours.ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
