@model IEnumerable<School.Educ.adk.Areas.Ecole.Models.Cotation>

@{
    int i = 1;
}

<!-- Datatables -->

<link href="~/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="~/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="~/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="~/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="~/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">


<div class="page-title">
    <div class="title_left">
        <h3>Cotes des epreuves</h3>
    </div>
</div>

<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Cote <small>de l'élève</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-md-12 col-sm-12 ">
                    <!-- start user projects -->
                    <table id="datatable-buttons" class="data table table-striped no-margin" style="width:100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Professeur</th>
                                <th>Cours</th>
                                <th>Total</th>
                                <th>Point</th>
                                <th>Progression</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>@item.Epreuve.CahierCote.Cours.Professeur.NomComplet</td>
                                    <td>@item.Epreuve.CahierCote.Cours.Intituler</td>
                                    <td>@item.Epreuve.Total</td>
                                    <td>@item.Point</td>

                                    <td class="vertical-align-mid">
                                        <div class="progress">
                                            @if (item.Point < (item.Epreuve.Total / 2))
                                            {
                                                if (item.Point <= (item.Epreuve.Total / 4))
                                                {
                                                    <div class="progress-bar progress-bar-striped bg-danger" data-transitiongoal="10"></div>
                                                }
                                                else
                                                {
                                                    <div class="progress-bar progress-bar-striped bg-warning" data-transitiongoal="30"></div>
                                                }
                                            }
                                            else
                                            {
                                                if (item.Point <= ((item.Epreuve.Total / 2) + (item.Epreuve.Total / 3)))
                                                {
                                                    <div class="progress-bar progress-bar-striped bg-info" data-transitiongoal="60"></div>
                                                }
                                                else
                                                {
                                                    <div class="progress-bar progress-bar-striped bg-success" data-transitiongoal="90"></div>
                                                }
                                            }
                                        </div>
                                    </td>
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                    <!-- end user projects -->

                </div>
            </div>
        </div>
    </div>
</div>