@model School.Educ.adk.Areas.Professeur.Models.Epreuve

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Epreuve</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentifiantCours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentifiantCours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentifiantProfesseur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentifiantProfesseur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Periode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Periode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateEpreuve)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateEpreuve)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
