@model School.Educ.adk.Areas.Ecole.Models.Ecole

@{
    ViewData["Title"] = "Supprimer";
}

<h1>Supprimer l'inspecteur</h1>

<h3 class="text-danger">Etes vous sûr(e) de vouloir retirer cette école ?</h3>

<div>
    <hr />
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="x_panel">
                <div class="x_title">
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a asp-action="Index" class="btn btn-outline-secondary btn-xs"><i class="fa fa-reply"></i> retour</a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <h4>Informations</h4>
                    <dl class="row">
                        <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                            @Html.DisplayNameFor(model => model.Directeur)
                        </dt>
                        <dd class="col-form-label col-md-1 col-sm-6 text-left label-align">
                            @Html.DisplayFor(model => model.Directeur.NomComplet)
                        </dd>
                        <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                            @Html.DisplayNameFor(model => model.Nom)
                        </dt>
                        <dd class="col-form-label col-md-1 col-sm-6 text-left label-align">
                            @Html.DisplayFor(model => model.Nom)
                        </dd>
                        <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                            @Html.DisplayNameFor(model => model.EcoleLatitude)
                        </dt>
                        <dd class="col-form-label col-md-1 col-sm-6 text-left label-align">
                            @Html.DisplayFor(model => model.EcoleLatitude)
                        </dd>
                        <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                            @Html.DisplayNameFor(model => model.EcoleLongitude)
                        </dt>
                        <dd class="col-form-label col-md-1 col-sm-6 text-left label-align">
                            @Html.DisplayFor(model => model.EcoleLongitude)
                        </dd>
                        <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                            @Html.DisplayNameFor(model => model.SousDivision)
                        </dt>
                        <dd class="col-form-label col-md-1 col-sm-6 text-left label-align">
                            @Html.DisplayFor(model => model.SousDivision)
                        </dd>
                        <dt class="col-form-label col-md-6 col-sm-6 text-right label-align">
                            @Html.DisplayNameFor(model => model.DateCreate)
                        </dt>
                        <dd class="col-form-label col-md-1 col-sm-6 text-left label-align">
                            @Html.DisplayFor(model => model.DateCreate)
                        </dd>
                    </dl>
                </div>
                <div class="text-center">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="ID" />
                        <input type="submit" value="Retirer" class="btn btn-outline-danger" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>